Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
argparse==1.2.1
gunicorn==19.1.1
itsdangerous==0.24
pbr==0.10.4
psycopg2==2.5.4
requests==2.5.0
simplejson==3.6.5
six==1.8.0
stevedore==1.1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
wsgiref==0.1.2
