{% extends "layout.html" %}

{% block title %}Books{%endblock%}

{% block body %}
<h1>Clovis and Ulrik Books</h1>
    {% if all_books %}
    <table class="table table-striped" id="users-tbl">
        <thead>
        <tr>
            <th>#</th>
            <th>ISBN</th>
            <th>Titre</th>
        </tr>
        </thead>
        <tbody>
        {% for book in all_books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.title }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}